#grid-container {
  display: grid;
  width: 600px;
  height: 600px;
  grid-gap: 1px;
  background-color: rgb(255, 255, 255);
}

.grid-cell {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}